# ==============================================================
# LoanEase SMS Gateway Configuration
# ==============================================================
# Fast2SMS (Optional for India)
FAST2SMS_API_KEY=

# Twilio (SMS & OTP Gateway)
TWILIO_ACCOUNT_SID=your_account_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_FROM_NUMBER=
TWILIO_VERIFY_SERVICE_SID=your_verify_service_sid_here
